html
{
  margin: 0 auto;
}

body
{
  font-family: 'Montserrat';
  text-align: center;
}

/* Headings */
h1,h2,h3,h4,h5,h6
{
  font-family: 'Montserrat-Bold';
  font-weight: bold;

}

/* Sections */

.colored-section
{
    background-color: #ff4c68;
    color: #fff;
}

.white-section
{
  background-color: white;
}
/* Navigation Bar */

.container-fluid
{
  padding: 7% 15%;
}
.navbar
{

  padding-bottom: 4.5rem;
}

.navbar-brand
{
  font-family: 'Ubuntu', fantasy;
  font-size: 2.5rem;
  font-weight: bolder;
}

.nav-item
{
  padding: 0 18px;
}

.nav-link
{
  font-size: 1.2rem;
  font-family: 'Montserrat',serif;
  font-weight: lighter;


}


#title
{
  text-align: left;
}

#title .container-fluid
{
   padding: 3% 15% 7%;
}
.dogs
{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;


}

.dogs:hover
{
  /* font-size: 7rem; */
  transform: scale(1.2);
}
.rotate
{

  transform: rotate(25deg);
}
.phone
{
  position: absolute;
  right: 30%;
}
/* Download Buttons */
.btn
{
margin: 5% 5% 0 0;
}

.btn-dark:hover
{
  background-color: #141517;
}

.btn-light:hover
{
  background-color: #f2f4f7;
}
/* Features */

#features
{
  padding: 10% 15%;
  position: relative;

}
.container
{
  text-align: center;
}

#features h3
{
  font-size: 1.5rem;
}

#features p
{
font-weight: lighter;
color: #8f8f8f;
}

#features .fas {
  color: #EF8172;
  /* font-size: 2rem; */
  margin-bottom: 1rem;
}

.fas:hover
{
  color: #FF4C68;
}

/* Testimonial Section */

#testimonials
{
  background-color: #EF8172;
}

.testimonial-text
{
  font-size: 3rem;
  line-height: 1.5;
}
.test-img
{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


.carousel-indicators
{
  text-align: center;
}

/* Press section */


#press
{
  background-color:  #EF8172;
  padding: 3%;
  text-align: center;
  margin: auto;

}
.press-img
{
width: 15%;
margin: 20px 20px 50px;
}


/* Pricing */
#pricing
{
  padding: 2% 3%;
  text-align: center;
}

.price-text
{
  font-size: 3rem;
  line-height: 1.5;
}

/* Call to Action */



.cta-text
{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.btn-dark:hover
{
  background-color: #252625;
}

/* Footer */

#footer
{
  text-align: center;
  padding: 7% 15%;
}

.footerp
{
  font-family: 'Montserrat', serif;
  font-weight: 300;
}

#footer i
{
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title
  {
    text-align: center;
  }
  .rotate
  {
    position: static;
    transform: rotate(0deg);
  }

}

.fa-facebook:hover
{
  color: #02238C;
}

.fa-twitter:hover
{
  color: #5DA9DD;
}

.fa-instagram:hover
{
   color: #E74A47;
}

.fa-envelope:hover
{
  color: #EB4336;
}
